/*!important*/
.listItem{
    position: static;
    font-weight: bold;
   /* font-size: medium;*/
    font-size: small;
    color: black!important;
    cursor: pointer;
    display: inline-block;

}

.itemsArea{
    position: absolute;
    display: block;
    background: #eeeeee!important;
    border: 2px solid #bdbdbd; /* Параметры границы */
    opacity: 0.5;
    padding: 0;
}

.itemAreaActive, .itemArea{
    padding: 5px;

}
.itemAreaActive{
    background: grey;
}

.itemArea{
    background: inherit;
}
