/*!important*/
.node{
    position: static;
    font-weight: bold;
   /* font-size: medium;*/
    font-size: small;
    color: #757575;
    cursor: pointer;
    display: inline-block;

}

.route {
    cursor: pointer;
    color: #757575;
    font-size: small;

    /*  font-size: medium;*/

}

.menu-tops{
    position: relative;
    float: left;
    display: inline-block;
    padding-right: 30px;

}

.submenu{

}

.menu-item{
}
.menu-item-active{
    /*display: table ;*/
    width: 150px;

}

li {
    list-style-type: none; /* Убираем маркеры */
    white-space:nowrap;
}
.firstLevelChildren{
    position: absolute;
    display: block;
    background: #eeeeee;
    border: 2px solid #bdbdbd; /* Параметры границы */
    opacity: 0.8;

}

.childrenActive{
    display: block;


}
.childrenNoActive{
  /*  width: 300px;*/
    display: none;

}

li {
    white-space:nowrap;
    padding: 5px;
}


