/* Меню лайаута (левое) и контент (при левом боковом меню */


.headerXle{
    position: fixed; /* absolute | fixed | relative | static | inherit */
    background-color: #e0e0e0;
    top: 0;
    left: 0;
    height: 7%;
    width: 15%;
    overflow: hidden  ; /* полосы прокруткиauto | hidden | scroll | visible | inherit*/
    padding: 15px;
    font-size: medium;
    color: blue;
    }
.menuXle{
    position: fixed; /* absolute | fixed | relative | static | inherit */
    background-color: #D0D5D8;
    top: 7%;
    left: 0;
    height: 93%;
    width: 15%;
    overflow: hidden  ; /* полосы прокруткиauto | hidden | scroll | visible | inherit*/
    padding: 5px;
}

.menuXleResize{
    display: none;
}

.topXle, .topXleResize{
    padding: 15px;
    background: #bdbdbd ;
    position: absolute; /* absolute | fixed | relative | static | inherit */
    top: 0;
    height: 7%;
    width: 85%;
    overflow: hidden  ; /* полосы прокруткиauto | hidden | scroll | visible | inherit*/
}

.topXle{
    left: 15%;
}

.topXleResize{
    left: 0;
}

.contentXle,.contentXleResize {
    background: none;
    position: absolute; /* absolute | fixed | relative | static | inherit */
    top: 7%;
    height: 88%;
    width: 85%;
}

.contentXle{
    left: 15%;
}

.contentXleResize{
    left: 0;
}

.selectLanguage{
    background: grey!important;
    color: black!important;
    border: none;
}

.node{
    font-weight: bold;
    font-size: small;
    color: black;
    cursor: pointer;
}

.route {
    cursor: pointer;
    color: black;
    font-size: small;

}
.submenu{
    display: none;

}

.topItem{
    float: left;
    padding: 5px;
}

/* Меню лайаута (верхнее) и контент (при верхнем меню) */

.topXleHorizontal{
    background: #bdbdbd!important; ;
}

.appName{
    color: blue!important;
    font-size: medium;
    padding: 5px;
}

/* ------------------------------------------------ */









.contentXleHorizontalMenu{
    height: 100%;
    background: linear-gradient(to top left, lightblue, white, lightyellow) no-repeat;

}

.selectLanguage{
    background: none;
    border: none;
}


/* Прелоадер */

.loaderXle {
    position: absolute ; /*relative;*/
    top: 50%;
    left: 50%;
    /*display: none;*/
    border-top: 16px solid lightblue;
    border-right: 16px solid blue;
    border-bottom: 16px solid lightyellow;
    border-left: 16px solid yellow;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    background: #fff;
    z-index: 9999;

}

.LockOff {
    pointer-events: auto;
    opacity: 1;
}

.LockOn {
    pointer-events: none;
    opacity: 0.5;
}

.page-loader-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 86px;
    height: 86px;
    margin: -18px 0 0 -18px;
    border-radius: 50%;
    border: 2px solid;
    border-top-color: rgba(34, 34, 34, 1);
    border-bottom-color: rgba(0, 0, 0, 0.15);
    border-left-color: rgba(34, 34, 34, 1);
    border-right-color: rgba(0, 0, 0, 0.15);
    -webkit-animation: page-loader-circle 0.8s linear infinite;
    animation: page-loader-circle 0.8s linear infinite;
}

@keyframes page-loader-circle {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes page-loader-circle {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Другие */


.departmentsTree{
    cursor: pointer;
    position: relative; /* absolute | fixed | relative | static | inherit */
    left: 0;
    top: 0;
    width: 100%;
    height: 88vh;
    /* table-layout:  fixed;*/
    overflow: hidden ; /* полосы прокрутки | hidden | scroll | visible | inherit*/
    float: left;
    background-color: #f7f2f2;
    padding: 20px;

}

.simpleBlock{
    cursor: pointer;
    background-color: #f7f2f2;
    padding: 10px;
    position: relative; /* absolute | fixed | relative | static | inherit */
    overflow: hidden ; /* полосы прокрутки | hidden | scroll | visible | inherit*/

}
