.menuXleActive{
    position: fixed; /* absolute | fixed | relative | static | inherit */
    background-color: #D0D5D8;
    left: 0;
    top: 0;
    width: 15%;
    height: 100%;
    overflow: hidden  ; /* полосы прокруткиauto | hidden | scroll | visible | inherit*/
    padding: 5px;
}

.contentXle{
    /*  background-color: #E5E9EC;*/
    background: none;
    position: absolute; /* absolute | fixed | relative | static | inherit */
    left: 15%;
    top: 0;
    width: 85%;
    height: 100%;
    overflow: visible  ; /* полосы прокруткиauto | hidden | scroll | visible | inherit*/
}

.menuXle{
    position: fixed; /* absolute | fixed | relative | static | inherit */
    background-color: aliceblue;
    left: 0;
    top: 0;
    width: 3%;
    height: 100%;
    overflow: hidden  ; /* полосы прокруткиauto | hidden | scroll | visible | inherit*/
    padding: 5px;

}

.contentXleActive{
    /* background-color: #E5E9EC;*/
    background: none;

    position: absolute; /* absolute | fixed | relative | static | inherit */
    left: 3%;
    top: 0;
    width: 97%;
    height: 100%;
    /* table-layout:  fixed;*/
    overflow: visible  ; /* полосы прокруткиauto | hidden | scroll | visible | inherit*/
}

.contentXleHorizontalMenu{
    height: 100%;
    background: linear-gradient(to top left, lightblue, white, lightyellow) no-repeat;

}

.selectLanguage{
    background: none;
    border: none;
}

