.menuXleActive{
    display: block;
    position: fixed; /* absolute | fixed | relative | static | inherit */
    background-color: #D0D5D8;
    left: 0;
    top: 0;
    width: 15%;
    height: 100%;
    overflow: hidden  ; /* полосы прокруткиauto | hidden | scroll | visible | inherit*/
    padding: 5px;
}

.menuXle{
    display: none;
}

.topXle{
    background: aliceblue;
    position: absolute; /* absolute | fixed | relative | static | inherit */
    left: 16%;
    top: 0;
    width: 84%;
    height: 10%;
    overflow: hidden  ; /* полосы прокруткиauto | hidden | scroll | visible | inherit*/
}
.topXleResize{
    background: aliceblue;
    position: absolute; /* absolute | fixed | relative | static | inherit */
    left: 0;
    top: 0;
    width: 100%;
    height: 10%;
    overflow: hidden  ; /* полосы прокруткиauto | hidden | scroll | visible | inherit*/
}


.contentXle{
    background: none;
    position: absolute; /* absolute | fixed | relative | static | inherit */
    left: 15%;
    top: 11%;
    width: auto;
    height: auto;
    overflow: visible  ; /* полосы прокруткиauto | hidden | scroll | visible | inherit*/
}

.contentXleResize{
    background: none;
    position: absolute; /* absolute | fixed | relative | static | inherit */
    left: 0;
    top: 11%;
    width: auto;
    height: auto;
    overflow: visible  ; /* полосы прокруткиauto | hidden | scroll | visible | inherit*/
}


