.departmentsTree {
    cursor: pointer;
    width: 95%;
    height: 45vh;
    /* table-layout:  fixed;*/
    overflow: auto ; /* полосы прокрутки | hidden | scroll | visible | inherit*/
    float: left;
    background-color: aliceblue;
    margin: 20px;
    padding: 10px;
}


.assignedItemsList{
    font-weight: 600;
    color: darkred;

}
.userDepartmentGrid {
    width: 100%;
    height: 30vh;
    /* table-layout:  fixed;*/
    overflow: auto ; /* полосы прокрутки | hidden | scroll | visible | inherit*/
    float: left;
    background-color: aliceblue;
    padding: 10px;
}
.userAssigments {
    width: 100%;
    height: 60vh;
    overflow: auto ; /* полосы прокрутки | hidden | scroll | visible | inherit*/
    float: left;
    background-color: aliceblue;
    padding: 10px;
}
.userSelect{
    padding: 1px;
}

.activeGridRow{
    color: red;
    font-weight: 600;
}

.preloader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999999;
    display: none;
    /*  background: rgba(255,255,255,0.6);*/
}

.page-loader-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 86px;
    height: 86px;
    margin: -18px 0 0 -18px;
    border-radius: 50%;
    border: 2px solid;
    border-top-color: rgba(34, 34, 34, 1);
    border-bottom-color: rgba(0, 0, 0, 0.15);
    border-left-color: rgba(34, 34, 34, 1);
    border-right-color: rgba(0, 0, 0, 0.15);
    -webkit-animation: page-loader-circle 0.8s linear infinite;
    animation: page-loader-circle 0.8s linear infinite;
}

@keyframes page-loader-circle {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes page-loader-circle {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


.modal-dialog__{
    width: 98%!important;
}
@media (min-width: 992px) {
    .modal-lg {
        width: 98%!important;
    }
}

