.node{
    font-weight: bold;
  /*  font-size: medium;*/
    color: black;
    cursor: pointer;
    padding-left: 3px!important;
}

.route {
    cursor: pointer;
    color: black;
    padding-left: 10px!important;

    /*  font-size: medium;*/
}
.submenu{
     display: none;

}

.ulMenuX{
    padding-left: 15px!important;
}

.leftMenuMDL{
    padding: 3px!important;
}

.ulMenuX li {
    /*display: inline;*/
    float: none!important;

}

